body {
    background-color: #99a9a7;
    font-family: Arial, Helvetica, sans-serif;
}

.container-menu {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
/*header .container-menu { 
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;

    max-width: 1600px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}*/

.menu-flex {
    padding-top: 29px;
    padding-bottom: 32px;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    display: grid;
    grid-gap: 150px; 
    grid-template-columns: repeat(4, auto);
}

.wrapper {
    width: 100%;
}

/*.logo {
   margin: 1rem;
}

.container-menu {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 64px;

    @media (max-width: 767px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}*/

.hamburger {
    display: block;
    width: 35px;
    cursor: pointer;
}

.info {
    width: 100%;
}

.info p {
    padding: 0px 30px 20px;
    font-size: 16px;
    color: #001512; 
    line-height: 20px;
}

.profile-pic {
    width: 100%;
    height: auto;
}

.social {
    margin-left: 1rem ;
}

.social-icon-1 {
    background: #667f7c;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon-2 {
    background: #667f7c;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.bio {
    padding: 3em;
    width: 45%;
    max-width: 600px;
    min-width: 300px;
}*/

/*.container {
    position: relative;
}

.social {
    margin-left: 1rem ;
}

.social-icon-1 {
    background: #667f7c;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon-2 {
    background: #667f7c;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.profile-pic {
    position: absolute;
    right: 130px;
    top: 100px;
    width: 50%;
    height: auto;

   /* position: absolute;
    right: 130px;
    top: 100px;
}*/