html{
    max-height: 100%;
}:root {
    --background: rgba(77, 93, 91, 255);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #a1a1a1;
    font-family: Helvetica, sans-serif;
    font-weight: 400;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

/*navigation styles start here*/

header {
    background: var(--background);
    text-align: left;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.logo {
    padding-top: 20px;
    padding-left: 35px;
    padding-bottom: 20px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0px;
    margin-right: 2em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #ccd4d3;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    top: 7px;
}

.nav-toggle-label span::after {
    bottom: 7px;
}

nav {
    position: absolute;
    text-align: center;
    top: 100%;
    right: 0;
    background: rgba(157, 167, 163, 0.788);
    width: 40%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
    margin-left: 2em;
}

nav a {
    color: #001512;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase; 
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #ccd4d3; 
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.profile-pic {
    display: block;
    max-width: 55%;
    margin: auto;
}

section {
    padding: 3em 1em;
}

p {
    width: 80%;
    margin: auto;
    padding-bottom: 3rem;
    /*margin-top: 55%;
    margin-left: 140px;
    margin-right: 100px;*/
    line-height: 1.5;
    letter-spacing: .5px;
}

.bio {
    font-size: 18px;
}

.about-me {
    width: 100%;
    /*background: var(--background);*/
    position: absolute;
    top: 17%;
    display: flex;
    flex-direction: column;
    color: #001512;
}

footer {
    /*background: var(--background);*/
    padding: .25em;

    margin-top: auto;
    margin-right: 2em;
    display: flex;
    justify-content: flex-end;
}

.icon-insta {
    margin-right: 2em;
}

.icon-linkedin {
    padding-bottom: 5px;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }
    
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: #ccd4d3;
        position: absolute;
        top: -1em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transform-origin: right;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }

    .about-me {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* position: absolute;
        top: 20%; */
        margin-top: 25px;
        /*margin-left: 2px;*/
        margin-right: 100px;
    }

    .profile-pic {
        width: 1400px;
        margin-left: 5rem;
        margin-top: -1.5rem;
    }

    .bio {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .bio p {
        font-size: 25px;
        padding: 0 1em;
        margin-left: 6.5em;
    }
}

/*.about-me .bio,
    .about-me__profile-pic {
        flex: 0 1 50%;
}*/